
body,p,h1,h2,h3,h4,h5,h6,div{
  font-family: 'Raleway', sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.revinew_right_list{
  list-style: none;
}
.revinew_right_list li{
  color: white;
  padding: 10px 10px;
  background-color:#002060;
  margin-bottom: 2px;
  font-size: 13px;
}


.revinew_left_list{
  list-style: none;
}
.revinew_left_list li{
  font-size: 13px;
  padding: 1px 10px;
  margin-bottom: 2px;
}

.alert_img{
  height: 50px;
  width: 50px;
  display: inline;
}