* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --textColor_primary: rgb(39, 38, 38);
    --textColor_header: #FE8E00;
    --textColor_hover: #FE8E00;
}

body {
    background-color: #ECEFF1;
}

.fill {
    /* background-image: url('https://source.unsplash.com/random/150x150');
position: relative;
height: 150px;
width: 150px;
top: 5px;
left: 5px;
cursor: pointer; */
}

.empty {
    display: inline-block;
    height: 160px;
    width: 80%;
    margin: 10px;
    border: 3px solid cyan;
    background-color: white;
}

.hold {
    border: 4px solid #ccc;
}

.hovered {
    background: #f4f4f4;
    border: 2px dashed black !important;
}

.invisible {
    display: none;
}


/* Table */

.dragdrop_graph {
    /* background-color: aliceblue; */
    width: 80%;
    height: 400px;
    border-collapse: collapse;
}

.dragdrop_graph tr:last-child {
    /* border-bottom: 2px solid rgba(0, 0, 0, 0.1); */
}

.dragdrop_graph td {
    width: 30px;
    height: 50px;
}

.dragdrop_graph td:first-child {
    /* border-left: 2px solid rgba(0, 0, 0, 0.1); */
}

.dragdrop_graph td:last-child {
    border-right: none;
}

.flex {
    display: flex;
    align-items: center;
}

.flex h1 {
    /* Rotate from top left corner (not default) */
    /* transform-origin: 0 0; */
    transform: rotate(-90deg);
}

.graph_label {
    font-size: 1vw;
    width: 22vh;
}

.res_name {
    font-weight: lighter !important;
}

.rest_icon {
    height: 1vw;
}

.btn_attack_icon {
    height: 1.5vw;
}

.promotion_icon {
    height: 6vw;
}

.marketing-row {
    padding-left: 10px;
}

.chart {
    width: 900px;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.option-item {
    /* width: 100px; */
    /* display: block !important; */
    border: 1px solid #bc8c05;
    /* margin-bottom: 2px; */
    cursor: pointer;
    border-radius: 10px;
    text-align: center;
    /* font-size: 1vw; */
    z-index: 50;
}

.droppable {
    min-width: 30px !important;
    max-width: 50px !important;
}

.txt_xaxis {
    margin-left: 10%;
}


/* Gm2 - Navbar-start */

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    font-family: 'Poppins', sans-serif;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
}

.logo {
    color: var(--textColor_primary);
    text-transform: uppercase;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 70%;
    font-size: 12px;
}

.nav-links li {
    list-style: none;
    font-size: 14px;
    font-weight: 400px;
}

.nav-links li:hover {
    color: var(--textColor_hover);
}

.active {
    border-bottom: #FE8E00 2px solid;
    color: var(--textColor_hover)
}

.nav-links a {
    color: var(--textColor_primary);
    text-decoration: none;
    font-weight: bold;
}

.burger {
    display: none;
}

.burger div {
    background-color: #000;
    width: 20px;
    height: 2px;
    margin: 5px;
    transition: all .5s ease-in;
}

.nav-active {
    transform: translate(0%) !important;
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px) !important;
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px) !important;
}

.dropdown-toggle {
    padding: 0 !important;
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

@media screen and (max-width: 1024px) {
    .nav-links {
        width: 60%;
    }
}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
    .burger {
        display: block;
        cursor: pointer;
    }
    .nav-links {
        width: 40%;
        position: absolute;
        right: 0px;
        top: 8vh;
        height: 92vh;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translate(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li {
        opacity: 0;
    }
}


/* Gm2 - Navbar-end */


/* gm2- strategic group-start */

.gm2 {
    padding: 0 6%;
}

.gm2 .header {
    display: flex;
    align-items: center;
    /* padding: 20px; */
    background-color: #263238;
    color: white;
    height: 40vh;
}

.gm2 .header .welcome {
    padding: 0px 20px;
}

.gm2 .header .video {
    height: 40vh;
}

.gm2 .header .video iframe {
    height: 100%;
    width: 550px;
    border: none;
}

.gm2 .header .welcome .title {
    margin-bottom: 20px;
    font-size: 32px;
}

.gm2 .details {
    display: flex;
    flex-basis: auto;
    /* align-items: center; */
    flex-grow: 3;
    justify-content: space-around;
}

.gm2 .details col {
    flex-grow: 4;
}

.gm2 .details .content {
    margin-top: 20px;
    padding: 20px;
    background-color: white;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.text {
    color: #908f8f;
}

.text ol,
ul {
    margin-left: 20px;
    margin-top: 20px;
}

.gm2 .details .content .title {
    display: flex;
    color: #ff8400;
    margin-bottom: 10px;
}

.gm2 .details .content i {
    font-size: 32px;
    color: #FE8500;
    margin-right: 10px;
}

.gm2 .details .content h2 {
    font-size: 32px;
    color: #FE8500
}


/* gm2- strategic group-end */


/* gm2- market_strategy-start */

.market_strategy {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
}

.market_strategy .image {
    width: 70%;
    margin-top: 40px;
}

.market_strategy .image:nth-child(1) {
    margin-top: 9vh;
}


/* gm2- market_strategy-end */

.mt-9vh {
    margin-top: 9vh;
}

.title h2 {
    color: var(--textColor_hover);
}

.title_strategy {
    width: 70%;
    background-color: white;
    padding: 10px;
    text-align: center;
}

.flex-direction-col {
    flex-direction: column !important;
}

.row {
    display: flex;
}

.color_graph_selected {
    background-color: #afce8d;
}

.game-content {
    margin: 2% 6%;
    padding: 20px;
}

.gm2_card_header {
    color: white;
}

nav {
    z-index: 10;
}

.btn_input {
    width: 25px;
    margin: 0;
    font-weight: bold;
}

.btn_input_plus {
    margin-right: -7px;
}

.btn_input_minus {
    margin-left: -7px;
}

.gm2_card_rest {
    margin: 10px 10px 10px 0px;
}

.inputField_row {
    margin-top: 8px;
}

.inputField_row select {
    /* width: 180px; */
}

.market_scenario_table_box {
    /* margin: 10px 0; */
    margin-top: 30px;
    margin-bottom: 30px;
    background: white;
}

.gm2-total-text {
    font-weight: bold;
}

.gm2-total-value {
    font-weight: bolder;
    background-color: #ECEFF1;
    border-radius: 50%;
    padding: 4px 12px;
    color: gray;
}

.go-right {
    text-align: right;
}

.gm2_market_promotion_inputs {
    border: 1px solid gray;
    padding: 10px;
}

.gm2_market_promotion_container {
    margin-top: 15px;
}

.gm2_marketing_promotion_header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.gm2_marketing_promotion_header h4 {
    font-size: 1rem;
}

.bg_like_disable_input {
    background-color: #E9ECEF;
}

.gm2_admin_selected_box {
    background-color: #E9ECEF;
    border: 1px solid rgba(0, 0, 0, 0.383);
}

.padding_10 {
    padding: 10px;
}

.m_10 {
    margin: 10px;
}

.float-right {
    float: right;
}

.gm2_select_group_txt {
    margin: 10px;
    text-align: right;
    /* border: #263238 1px solid; */
    font-size: 18px;
}

.jquery_dragdrop_box {
    /* border-right: #263238 1px solid; */
    /* border-top: #263238 1px solid; */
    border-radius: 20px;
    background-color: #ECEFF1;
    cursor: pointer;
}

.jquery_selected_box {
    /* border-right: #263238 1px solid; */
    /* border-top: #263238 1px solid; */
    border-radius: 20px;
    background-color: #ECEFF1;
    cursor: pointer;
}

.select_criteria {
    transform: rotate(-90deg);
    width: 130px;
}

.txt-center {
    text-align: center;
}
.graph_txt{
    padding-left: 8%;
}

.group_input {
    border: #908f8f 1px solid;
    margin-bottom: 5px;
    padding: 5px 5px;
}

.attack_box {}

.defend_card {
    position: sticky;
    top: 10vh;
}

.select_box {
    text-align: center;
}

.selected_td {
    background-color: rgb(73, 126, 241);
    /* border: 5px solid aliceblue; */
    text-align: center;
    border-radius: 40px;
}

.selected_div {}

.modal-body {
    background-image: url('http://myfunnymemes.com/wp-content/uploads/2015/04/Doge-Meme-Lion-In-All-Its-Majestic-Glory.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
}

.border_rd {
    border: 2px solid red !important;
}

.btn-next {
    background-color: #e6ab0b;
}

.mb-3rem {
    margin-bottom: 3rem;
    ;
}

.borderRed {
    border: 1px solid red !important;
}

.table_4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sticky-popup-box {
    position: fixed;
    top: 40%;
    right: 0;
    background-color: #263238;
    color: white;
    width: 20%;
    padding: 10px;

}

.btn_next_part{
    background-color: rgb(8, 140, 248);
    color: white;
}
.dropBody{
    padding: 2.25rem;
}
.mb-50px{
    margin-bottom: 50px;
}
.sortable_fixed{
    min-height: 600px;
    /* position: fixed; */
    width: 200px;
    z-index: 9000 !important;
}
.card{
    /* z-index: 9000 !important; */
}

.flex-center
{
    display: flex;
    align-items: center;
    justify-content: center;
}
